<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/include/header :: head(${post.id} + '번 글')"></head>
<head>
    <meta charset="UTF-8">
</head>
<body>
	<div th:replace="/include/navbar :: navbar"></div>
	<div id="post" class="container" style="padding-top: 100px; width: 500px">
	    <p th:text="${post.title}"></p>
	    <p th:text="${post.description}"></p>
	    <a th:href="@{/post/{postId}/delete(postId = ${post.id})}">삭제</a>
	    <a th:href="@{/post/{postId}/update(postId = ${post.id})}">수정</a>
	    <button th:onclick="onClickCreateCommentBtn([[${post.id}]], [[${session.logined_id}]])">댓글 달기</button>
	    <form id="create-comment"></form>
	    <ul id="comment-list">
		    <li th:each="comment : ${comments}">
		        <div th:insert="/comment/show :: .show-form"></div>
		    </li>
		</ul>
	</div>
	
	<script type="text/javascript" src="/js/post/show.js"></script>
	<script th:inline="javascript">
		document.getElementById("create-comment").addEventListener("submit", e => {
			var postId = /*[[${post.id}]]*/ "";
			var logined_id = /*[[${session.logined_id}]]*/ "";
			
			onClickCreateBtn(e, postId, logined_id);
		})
	</script>
	<div th:replace="/include/footer :: foot"></div>
</body>
</html>