<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: head('비밀번호 수정')"></head>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/user/updatePwdForm.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="/include/navbar :: navbar"></div>
	<div class="container">
		<form th:action="@{/user/{userId}/updatePwd(userId = ${session.logined_id})}" method="post">
			<div class="mb-3 row">
				<label for="staticEmail" class="col-sm-4 col-form-label">기존 비밀번호</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="lastPwd" name="lastPwd">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="staticPassword" class="col-sm-4 col-form-label">새 비밀번호</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="newPwd" name="newPwd">
				</div>
			</div>
			<button id="update-btn" type="submit" class="btn btn-outline-primary">수정</button>
		</form>
	</div>
	<div th:replace="/include/footer :: foot"></div>
</body>
</html>