<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: head('비밀번호 수정')">
    <meta charset="UTF-8">
</head>
<body>
	<div th:replace="/include/navbar :: navbar"></div>
	<div class="container" style="padding-top: 100px; width: 500px">
		<form th:action="@{/user/{userId}/update(userId = ${session.logined_id})}" method="post">
			<div class="mb-3 row">
				<label for="staticEmail" class="col-sm-2 col-form-label">기존 비밀번호</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="lastPwd" name="lastPwd">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="staticEmail" class="col-sm-2 col-form-label">새 비밀번호</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="newPwd" name="newPwd">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">수정</button>
		</form>
	</div>
	<div th:replace="/include/footer :: foot"></div>
</body>
</html>