<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/include/header :: head('게시판')"></head>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="/include/navbar :: navbar"></div>
	<div id="post-list" class="container">
	    <ul class="list-group list-group-flush">
		    <li th:each="post : ${posts}" class="list-group-item">
		        <a class="post-title" th:href="@{/post/{postId}(postId = ${post.id})}" th:text="${post.title}"></a>
		        <div class="comment-count" th:insert="/icon/commentCount :: count(${post.commentCount})"></div>
		    </li>
		</ul>
		<a
		    id="create-btn" type="button" class="btn btn-outline-primary"
		    th:if="${session.logined_id}" href="/post/create"
		>글쓰기</a>
	</div>
	<div th:replace="/include/footer :: foot"></div>
</body>
</html>