<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<form
	    th:fragment="createForm(postId)"
	    action="#"
	    id="create-comment-form"
	    th:onsubmit="return createComment([[${postId}]], [[${session.logined_id}]]);"
	>
		<textarea id="create-comment-desc" name="description"></textarea>
		<br/>
		<button
		    style="float: right"
		    type="submit"
		    class="btn btn-outline-primary"
		>댓글 달기</button>
	</form>
</body>
</html>