<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<div class="show-form" th:id="'comment-' + ${comment.id}">
	    <p th:text="${comment.description}"></p>
	    <div class="comment-button" th:if="${session.logined_id} == ${comment.userId}">
	    	<button
		        class="comment-update-btn"
		        th:onclick=""
		    >수정</button>
	        <button
		        class="comment-delete-btn"
		        th:onclick="onClickDeleteCommentBtn([[${comment.postId}]], [[${comment.id}]], [[${session.logined_id}]])"
		    >삭제</button>
	    </div>
	</div>
</body>
</html>