<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<div class="show-form" th:id="'comment-' + ${comment.id}">
	    <p class="comment-desc" th:text="${comment.description}"></p>
	    <button
	        class="comment-delete-btn"
	        th:if="${session.logined_id} == ${comment.userId}"
	        th:onclick="onClickDeleteCommentBtn([[${comment.postId}]], [[${comment.id}]], [[${session.logined_id}]])"
	    >삭제</button>
	</div>
</body>
</html>