<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<form
	    action="#"
	    class="update-comment-form"
	    th:onsubmit="return updateComment([[${comment.postId}]], [[${comment.id}]], [[${session.logined_id}]])"
	>
		<textarea
		    class="update-comment-desc"
		    th:id="'update-comment-desc-' + ${comment.id}"
		    name="description"
		></textarea>
		<br/>
		<button
		    style="float: right"
		    type="submit"
		    class="btn btn-outline-primary"
		>수정</button>
	</form>
</body>
</html>